body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1f1f2d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes rotRight {
  0% {
      transform: rotate(50deg);
      opacity: 0;
  }
  100% {
      transform: rotate(0deg);
      opacity: 1;
  }
}
@keyframes rotLeft {
  0% {
      transform: rotate(-50deg);
      opacity: 0;
  }
  100% {
      transform: rotate(0deg);
      opacity: 1;
  }
}