.Burger {
    width: 48px;
    height: 48px;

    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.Burger span {
    position: absolute;
    width: 36px;
    height: 5px;
    border-radius: 6px;
    background-color: white;
    transition: .5s ease-in-out;
}

.Burger :nth-child(even) {
    width: 18px;
    position: relative;
    transition-delay: 0.3s;
}

.Burger :nth-child(1) {
    transform: translateY(-200%);
}

.Burger :nth-child(2) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.Burger :nth-child(3) {
    transform: translateY(200%);
}

.Burger :nth-child(4) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.Burger :nth-child(1).open {
    transition-delay: 0.3s;
    transform: translateY(0%) rotate(45deg);
}

.Burger :nth-child(2).open {
    transition-delay: 0s;
    opacity: 0;
    transform: translateX(-100%);
}

.Burger :nth-child(3).open {
    transition-delay: 0.3s;
    transform: translateY(0%) rotate(-45deg);
}

.Burger :nth-child(4).open {
    transition-delay: 0s;
    opacity: 0;
    transform: translateX(100%);
}
